.home-main-page {
    display: flex;
    flex-direction: column;
    flex-basis:content;
}

.home-loggedout-div {
    height: fit-content;
}

.top-nav-home-logged-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    height: 5vh;
    padding: 12px 0% 16px;
    margin: auto;
    max-width: 1128px;
}

.coffee-logo-div {
    width: 20%;
    flex-grow: 9;
}

.coffee-chat-logo {
    width: 175px;
    height: 25px;
}

.main-options-home-logged-out {
    display: flex;
    position: relative;
    align-items: flex-start;
    top: 3px;
    left: 0px;
    justify-content: center;
    list-style: none;
    padding: 0px;
}

.main-options-home-logged-out::after {
    content: '';
    position: absolute;
    bottom: 9px;
    right: -1px;
    height: 37px;
    border-right: 1px solid rgb(161, 161, 161);
}


.discover-element {
    position: relative;
    top: 0px;
}

.discover-button {
    width: 64px;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin-right: 8px;
    margin-left: 8px;
    opacity: 60%;
}

.discover-button:hover {
    cursor: pointer;
    opacity: 100%;
}

.discover-button svg {
    position: absolute;
    top: 3px;
}

label {
    position: relative;
    bottom: 26px;
    height: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 
        'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100px;
}

label:hover {
    cursor: pointer;
}

.join-now-sign-in-home-logged-out {
    display: flex;
    position: relative;
    left: 3px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    flex-grow: 0.5;
}

.sign-in {
    border: 1px solid #0a66c2;
    color: #0a66c2;
    font-weight: 500;
    height: min-content;
    border-radius: 24px;
    padding: 13px 24px 14px 24px;
    text-align: center;
}

.sign-in:hover {
    cursor: pointer;
    background-color: #0a66c213;
}

.join-now {
    border: 0px;
    border-radius: 24px;
    position: relative;
    right: 8px;
    font-weight: 500;
    color: #000000BF;
    padding: 13px 24px 14px 24px ;
}

.join-now:hover {
    cursor: pointer;
    background-color: rgba(207,207,207,0.25);
}
.main-bottom-nav-login-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: row;
    align-content: center;
    max-width: 1128px;
    margin: auto;
    padding-top: 40px;
}

.img-backsplash-man-div {
    height: fit-content;
    position: relative;
    right: 0px;
}

.img-backsplash-man {
    height: 560px;
    width: 700px;
}

.welcome-message {
    line-height: 64px;
    margin: 0px;
    font-weight: 300;
    font-size: 56px;
    color: #8f5849;
}

.first-half-bottom {
    height: 100%;
    width: 600px;
}

.main-bottom-nav-login-button {
    display: flex;
    height: fit-content;
    justify-content: flex-start;

}

.two-home-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    height: 5vh;
    padding: 72px 0px 16px;
    margin: auto;
    max-width: 1128px;
    box-sizing: border-box;
    height: 364px;
}

.heading-one {
    margin-right: 72px;
    width: 75%;
}

.heading-one h1 {
    font-weight: 300;
    font-size: 48px;
    width: 100%;
    margin: 0px;
}

.many-button-div {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
}

.button-binding-ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px 5px;
}

.button-a-href-many-button-first {
    border: 1px solid #0a66c2;
    color: #0a66c2;
    font-weight: 600;
    height: min-content;
    border-radius: 28px;
    min-height: 56px;
    font-size: 20px;
    padding: 13px 24px 14px 24px;
    text-align: center;
    text-decoration: none;
}

.button-a-href-many-button-first:hover {
    background-color: #0a66c21a;
    color: #003263cc;
}

.button-a-href-many-button {
    border: 1px solid #000000BF;
    color: #000000BF;
    font-weight: 600;
    height: min-content;
    border-radius: 28px;
    min-height: 56px;
    font-size: 20px;
    padding: 13px 24px 14px 24px;
    text-align: center;
    text-decoration: none;
}

.button-a-href-many-button:hover{
    border: 1px solid #000000BF;
    background-color: rgba(207,207,207,0.25);
}

.title-in-div {
    display: block;
    font-size: 16px;
    color: rgb(100, 100, 100);
    font-weight: 600;
    padding-bottom: 14px;
}

.background-many-button-div {
    background-color: rgb(240, 240, 240);
    height: 364px;
}