.login-form-main-uas {
    padding-top: 40px;
    width: 350px;
}

.email-login-user-form-uas {
    height: 48px;
    padding-bottom: 12px;
}

.password-login-user-form-uas {
    height: 48px;
    padding-bottom: 14px;
}

.email-login-user-form-input-uas {
    position: absolute;
    padding: 20px 12px 4px;
    font-size: 14px;
    width: 35%;
    height: 48px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #00000099;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.password-login-user-form-input-uas {
    position: absolute;
    padding: 20px 12px 4px;
    font-size: 14px;
    width: 35%;
    height: 48px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #00000099;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.placeholder-email-uas {
    display: block;
    position: relative;
    font-size: 18px;
    top: 13px;
    left: 12px;
    color: #00000075;
    z-index: -10;
    transition-duration: 0.25s ;
    transition-property: top, font-size;
}

.placeholder-password-uas {
    display: block;
    position: relative;
    font-size: 18px;
    top: 13px;
    left: 12px;
    color: #00000075;
    z-index: -10;
    transition-duration: 0.25s ;
    transition-property: top, font-size;
}

.email-login-user-form-input-uas:focus {
    outline: none;
    border: 2px solid #0073b1;
}

.email-login-user-form-input-uas:focus + .placeholder-email-uas{
    top: 8px;
    font-size: 12px;
}

.password-login-user-form-input-uas:focus {
    outline: none;
    border: 2px solid #0073b1;
}

.password-login-user-form-input-uas:focus + .placeholder-password-uas{
    top: 8px;
    font-size: 12px;
}

.hide-button-uas {
    background-color: transparent;
    border: 0px;
    font-size: 16px;
    color: #00000099;
    font-weight: 550;
    border-radius: 3px;
    position: relative;
    left: 334px;
    top: 8px;
    width: 55px;
    height: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    transition-duration: 0.1s;
    transition-property: color, background-color;
}

.hide-button-uas:hover {
    cursor: pointer;
    color:#000000d0;
    background-color: rgba(207,207,207,0.25);
}

.forgot-password-element-uas {
    display: block;
    width:fit-content;
    text-decoration: none;
    color: black;
    padding-bottom: 24px;
}

.forgot-password-element:hover-uas {
    text-decoration: underline;
    color: #0073b1;
}

.sign-in-button-main-uas {
    display: block;
    background-color: #2977c9;
    border: 0px;
    color: #ffffff;
    border-radius: 30px;
    padding: 0 32px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    height: 56px;
    width: 100%;
    font-size: 20px;
    font-weight: 480;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    transition-duration: 0.25s;
    transition-property: background-color;
    
}

.sign-in-button-main-uas:hover {
    cursor: pointer;
    background-color: #004182cc;
}

.signin-forgot-div-uas {
    width: 395px;
    padding-bottom: 20px;
}

.extra-buttons-main-uas {
    display: flex;
    width: 395px;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    padding-bottom: 20px;
}

.extra-buttons-main-uas::before {
    content: '';
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 40%;
}

.extra-buttons-main-uas::after {
    content: '';
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 40%;
}

.sign-in-divider-uas {
    width: 15%;
    float: right;
    text-align: center;
}

.button-align-bottom-half-uas {
    display: flex;
    width: 395px;
    flex-direction: column;
}


.link-to-my-github-uas {
    display: block;
    background-color: #ffffff;
    border: 0px;
    border: 1px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.6);
    border-radius: 30px;
    padding: 0 32px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    height: 56px;
    width: 100%;
    font-size: 20px;
    font-weight: 480;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    transition-duration: 0.25s;
    transition-property: background-color;
    margin-bottom: 16px;
}

.link-to-my-github-uas:hover {
    background-color: #eee;
    border: 2px solid black;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.link-to-sign-up-page-uas {
    display: block;
    background-color: #ffffff;
    border: 0px;
    border: 1px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.8);
    border-radius: 30px;
    padding: 0 32px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    height: 56px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    transition-duration: 0.25s;
    transition-property: background-color;
    margin-bottom: 20px;
}

.link-to-sign-up-page-uas:hover {
    background-color: #eee;
    cursor: pointer;
    border: 2px solid black;
}

.github-icon-button-uas {
    position: relative;
    top: 2px;
    padding-right: 20px;
}

.error-render-uas {
    position: relative;
    bottom: 10px;
    font-weight: 600;
    color: rgb(214, 1, 1);
}

.a-tag-forgot-password-uas {
    color: rgb(214, 1, 1);
    text-decoration: underline;
}

.a-tag-forgot-password-uas:hover {
    cursor: pointer;
}

.first-half-bottom-uas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}