body {
    position: fixed;
    min-height: fit-content;
    width: 100%;
}

#root {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.background-gray-for-main-feed {
    background-color: #f3f2ef;
    width: 100%;
    height: 100vh;
}

.main-feed-page-flex-div-main {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0px;
    padding-top: 0px;
    height: fit-content;
    margin: 0px;
    width: 100%;
}

.main-nav-bar-main-feed-nav {
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-width: 1126px;
    margin: auto;
    background-color: white;
    box-sizing: content-box;
}

.side-bar-nav-bar {
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 21;
    box-sizing: border-box;
}

.main-left-side-main-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-left-side-main-feed li-icon {
    height: fit-content;
    color: red;
}

.main-left-side-main-feed svg {
    fill: #0a66c2;
    height: 40px;
    width: 40px;
    position: relative;
    top: 2px;
    padding-right: 4px;
}

.input-search-main-nav-bar-feed {
    height: fit-content;
    width: 500px;
}

.input-search-main-nav-bar-feed svg {
    fill: #5f6163;
    height: 16px;
    width: 36px;
    position: absolute;
    top: 20px;
    padding-right: 4px;
}

.input-search-bar-find-nav-bar-feed {
    height: 34px;
    width: 270px;
    padding-left: 50px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #eef3f8;
    margin-right: 182px;
    border: 0px;
    transition-property: width, margin-right;
    transition-duration: 0.25s;
}

.input-search-bar-find-nav-bar-feed:focus {
    width: 384px;
    margin-right: 68px;
}

.main-ul-right-side-main-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    fill: rgba(0,0,0,0.6);
}

.home-icon-list-item-main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 52px;
    width: 80px;
    border-bottom: 2px solid black;
    transition: 0.2s color;
}

.home-icon-list-item-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.my-network-icon-list-item-main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 52px;
    width: 80px;
    transition: 0.2s color;
}


.my-network-icon-list-item-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.jobs-icon-list-item-main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 52px;
    width: 80px;
    transition: 0.2s color;
}

.jobs-icon-list-item-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.messaging-icon-list-item-main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 52px;
    width: 80px;
    transition: 0.2s color;
}

.messaging-icon-list-item-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.notifications-icon-list-item-main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 52px;
    width: 80px;
    transition: 0.2s color;
}

.notifications-icon-list-item-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.my-profile-icon-list-item-main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 52px;
    width: 80px;
    border-right: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    transition: 0.2s color;
}

.my-profile-icon-list-item-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.me-arrow-profile-icon-smaller {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    align-content: center;
    position: relative;
    bottom: 2px;
}

.work-option-drop-down-menu-right-side-main-feed {
    display: flex;
    position: relative;
    top: 4px;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    align-content: center;
    height: 52px;
    min-width: 70px;
    border: 0px;
    background-color: transparent;
    fill: rgb(0,0,0,0.6);
    transition: 0.2s color;
}

.work-option-drop-down-menu-right-side-main-feed:hover {
    cursor: pointer;
    fill:black;
}

.work-option-drop-down-menu-right-side-main-feed li-icon {
    position: relative;
    top: 2px;
    right: 4px;
}

.work-arrow-thing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    bottom: 2px;
}

.work-text-tile-drop-down {
    font-size: 12px;
}

.feed-content-main-division {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    min-width: 1126px;
    margin: auto;
    gap: 20px;
}

.picture-crop-photo-div-smaller {
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: fit-content;
}

.crop-smaller {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 24px;
    position: relative;
    border: 2px solid white;
}

.crop-smaller .profile-picture-self-smaller {
    position: relative;
    width: 24px;
    margin: -2px 0px 0px 0px;
}

.profile-picture-self-smaller {
    box-sizing: content-box;
}